{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Release Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Test Album With Mock 1</td>
                    <td>Sargent Peppers and the Lonely Heart QA Band</td>
                    <td>2018-01-01</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Test Album With Mock 2</td>
                    <td>Sargent Peppers and the Lonely Heart QA Band</td>
                    <td>2018-02-01</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Test Album With Mock 3</td>
                    <td>Sargent Peppers and the Lonely Heart QA Band</td>
                    <td>2018-03-01</td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

        </div>
    </div>
{% endblock %}