<nav aria-label="Page navigation example">
    <ul class="pagination pull-right">
        <li class="page-item {{ "disabled" if prev_page == false }}">
            <a class="page-link"
               href="{{ "?page="+prev_page|string if prev_page != False else "javascript:void(0);" }}">
                Previous
            </a>
        </li>
        {% for i in page_list %}
            <li class="page-item {{ "active" if (current_page == i) }}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
        <li class="page-item {{ "disabled" if next_page == false }}">
            <a class="page-link"
               href="{{ "?page="+next_page|string if next_page != False else "javascript:void(0);" }}">
                Next
            </a>
        </li>

    </ul>
</nav>