<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<div class="container-fluid">
    {% block body %}
        {% include "nav.html" %}

        <main role="main">
            {% with messages = get_flashed_messages(with_categories=true, category_filter=["danger", "success"]) %}
                {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                                    {{ message }}
                                </div><!-- end .alert -->
                            {% endfor %}
                        </div><!-- end col-md -->
                    </div><!-- end row -->
                {% endif %}
            {% endwith %}
            {% with errors = get_flashed_messages(category_filter=["validation_error"]) %}
                {% if errors %}
                    <div class="alert alert-block alert-danger">
                        <h4>The fields below need attention:</h4>
                        <ul>
                            {% for error in errors %}
                                <li>{{ error|safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            {% endwith %}


            {% block content %}{% endblock %}
        </main>

        </div>


    {% endblock %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>